@import url('https://fonts.googleapis.com/css?family=Merienda:400,700&subset=latin-ext');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Merienda', cursive;
    font-size: 16px;
    color: #333;
    margin: 0;
}

header {
    background-image:
            radial-gradient(circle,
            #7ac5ff, #bcb2fe, #f29cd9);
    height: 60px;
}

.nav-logo {
    color: #e00986;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    line-height: 60px;
    float: left;
}

.clear {
    clear: both;
}

/*stylowanie menu*/

nav ul {
    float: right;
    list-style-type: none; /*lista bez dekoracji*/
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block; /*li obok siebie*/
    position: relative;
    width: 150px;
}

nav ul li a {
    text-decoration: none; /*linki bez dekoracji*/
    color: #e00986;
    line-height: 60px;
    padding: 0 10px;
    display: block;
}

nav ul li a:hover {
    color: #fff;
    transition-duration: 2s; /*delikatne przejście*/
}

nav ul ul { /*wszystkie ul które znajdują się w nav i ul*/
    background-image: radial-gradient(circle, #bcb2fe, #f29cd9);
    text-align: left;
    width: 100%;
    border: 1px solid #e00986;
    display: none; /*ukrycie drugiego menu*/
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 0 15px;
}

nav ul li:hover > ul { /*odkrycie drugiego menu*/
    display: block;
    position: absolute;
    z-index: 1;
}

/*stylowanie hero-section*/

.hero-section {
    background-image: url("../assets/6.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slogan {
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slogan h2 {
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
}

.slogan h2 span {
    color: #e00986;
}

.yellow-text {
    font-size: 40px;
    color: #fbb619!important;
}

/*stylowanie sekcji z artykułem*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

.about-section {
    width: 100%;
    background-color: #f29cd9;
}

.about-section h2 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.about-section img {
    width: 50px;
    height: 50px;
    margin: 10px auto 30px;
    display: block;
    background-color: #f29cd9;
}

.about-section p {
    text-align: justify;
}