@import url('https://fonts.googleapis.com/css?family=Merienda:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Merienda', cursive;
    font-size: 16px;
    color: #333;
    margin: 0;
}

header {
    background-image:
            radial-gradient(circle,
            #7ac5ff, #bcb2fe, #f29cd9);
    height: 60px;
}

.nav-logo {
    font-family: 'Courgette', cursive;
    color: #e00986;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    line-height: 60px;
    float: left;
}

.clear {
    clear: both;
}

/*stylowanie menu*/

nav ul {
    float: right;
    list-style-type: none; /*lista bez dekoracji*/
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block; /*li obok siebie*/
    position: relative;
    width: 150px;
}

nav ul li a {
    text-decoration: none; /*linki bez dekoracji*/
    color: #e00986;
    line-height: 60px;
    padding: 0 10px;
    display: block;
}

nav ul li a:hover {
    color: #fff;
    transition-duration: 2s; /*delikatne przejście*/
}

nav ul ul { /*wszystkie ul które znajdują się w nav i ul*/
    background-image: radial-gradient(circle, #bcb2fe, #f29cd9);
    text-align: left;
    width: 100%;
    border: 1px solid #e00986;
    display: none; /*ukrycie drugiego menu*/
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 0 15px;
}

nav ul li:hover > ul { /*odkrycie drugiego menu*/
    display: block;
    position: absolute;
    z-index: 1;
}

/*stylowanie hero-section*/

.hero-section {
    background-image: url("../assets/6.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slogan {
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(0,0,0, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slogan h2 {
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
}

.slogan h2 span {
    color: #e00986;
}

.benefits-keyword {
    /*display: block;*/
    vertical-align: top;
    position: relative;
}

.yellow-text {
    /*display: block;*/
    /*-webkit-transition: webkit transform 1s opacity 1s;*/
    transition: 1s opacity 1s;
    font-size: 40px;
    color: #fbb619!important;
}

.yellow-textt {
    transform: translateY(100px);
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: 1s opacity 1s;
}

/*stylowanie stick slider*/

.slider-section {
    background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
    overflow: hidden;
}

.slider-section img {
    object-fit: cover;
}

.slick-slider {
    margin: 0 auto;
    padding: 40px 60px;
}

.slick-slider img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 200px;
}

.slick-dots {
    bottom: 0;
}
/*stylowanie sekcji z artykułem*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

#about-section {
    width: 100%;
    background-color: #f29cd9;
}

#about-section h2 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.gallery-team img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    background-color: #f29cd9;
}

.gallery-team div {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.overlay {
    position: absolute;
    margin-top: -66px;
    margin-left: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    z-index: 2;
}

.overlay::after {
    content: "";
    display: block;
    width: 137px;
    height: 6px;
    background-color: #27C7AB;
    position: relative;
    top: 5px;
}

.gallery-team img:hover{
    opacity: 0.6;
}

#about-section p {
    text-align: justify;
}

/* stylowanie galerii*/

#gallery-section {
    width: 100%;
    margin: 0 auto;
}

#gallery-section h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #66b8c4;
}

.gallery-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-image img {
    display: flex;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border: 5px solid #fff;
    -webkit-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
    -moz-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
    box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
}

.gallery-image img:hover{
    transform: scale(1.15);
}

/*stylowanie sekcji z filmem*/

#movie-section {
    position: relative;
    height: 550px;
    background-color: #66b8c4;
}

.single-movie {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*icony z fontawesome*/

.icon-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px auto;
}

.icon {
    display: block;
    width: 200px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
    -moz-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
    box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
}

.icon i {
    font-size: 50px;
    color: #e00986;
    padding: 15px;
}

.icon p {
    font-size: 30px;
}

.icon span {
    font-size: 18px;
}

/*stylowanie formularza*/

#contact-section {
    -webkit-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
    -moz-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
    box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
    margin: 40px auto;
    max-width: 600px;
}

form {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

label {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
}

input {
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 5px;
    border: 1px solid #66b8c4;
}

textarea {
    height: 100px;
    width: 400px;
    border: 1px solid #66b8c4;
    display: block;
    margin: 0 auto;
}

input[type='submit'], [type='reset'] {
    margin: 30px auto;
    cursor: pointer;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    background: #f29cd9;
    display: inline-block;
    border: 1px solid #e00986;
}
/*stylowanie footer*/

footer {
    background-image: radial-gradient(circle,
    #7ac5ff, #bcb2fe, #f29cd9);
    text-align: center;
    padding: 10px;
}

/*responsywność*/

@media (max-width: 767px) {
    header {
        height: 250px;
    }
    .nav-logo { /*logo na środku*/
        width: 100%;
        float: none;
        padding: 0;
        text-align: center;
    }
    nav ul {
        float: none;
        background-image: radial-gradient(circle, #72d6c9, #54d1ed,
        #7ac5ff, #bcb2fe, #f29cd9);
    }
    nav ul li {
        display: block;
        margin: 0 auto;
    }
    nav ul li:hover > ul {
        display: none;
    }
    #movie-section {
        display: none;
    }
    #contact-section {
        display: none;
    }
}